<div class='main_button'>
  <%= link_to 'Add item', new_food_item_path %>
</div>
<div class='filters'>
  Filters:
  <ul>
    <% @filters.each do |filter| %>
      <li>
        <%= link_to_unless(
          params[:status] == filter,
          "(#{@counts[filter]}) #{filter.humanize} Items",
          food_items_path(status: filter)
        ) %>
      </li>
    <% end %>
  </ul>
</div>
<h1>Food Items</h1>
<table class='table table-hover'>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Expiration</th>
    <th>Time Left</th>
    <th>Eaten</th>
    <th>Throw Out</th>
  </tr>
  <% @food_items.each do |food_item| %>
    <tr class="<%= freshness_of(food_item) %>">
      <td><%= link_to(icon_for(:edit), edit_food_item_path(food_item)) %></td>
      <td><%= food_item.name %></td>
      <td><%= food_item.expiration %></td>
      <td><%= time_ago_in_words(food_item.expiration) %></td>
      <% if food_item.eaten? %>
        <td><%= food_item.eaten_on %></td>
        <td></td>
      <% elsif food_item.trashed? %>
        <td></td>
        <td><%= food_item.trashed_on %></td>
      <% else %>
        <td>
          <%= button_to(food_item_finish_eating_path(food_item)) do %>
            <% icon_for(:eaten) %>
          <% end %>
        </td>
        <td>
          <%= button_to(food_item_throw_out_path(food_item)) do %>
            <% icon_for(:trash) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
