<h1>Food Items</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Expiration</th>
    <th>Time Left</th>
    <th>Eaten</th>
    <th>Throw Out</th>
  </tr>
  <% @food_items.each do |food_item| %>
    <tr class="<%= freshness_of(food_item) %>">
      <td><%= food_item.name %></td>
      <td><%= food_item.expiration %></td>
      <td><%= time_ago_in_words(food_item.expiration) %></td>
      <td>
        <% if food_item.eaten? %>
          <%= food_item.eaten_on %>
        <% else %>
          <%= button_to('Finished Eating', food_item_finish_eating_path(food_item))%>
        <% end %>
      </td>
      <td>
        <% if food_item.trashed? %>
          <%= food_item.trashed_on %>
        <% else %>
          <%= button_to('Thrown Out', food_item_throw_out_path(food_item))%></td>
        <% end %>
      </td>
    </tr>
  <% end %>
  <div class='main_button'>
    <%= link_to 'Add item', new_food_item_path %>
  </div>
  <div class='filters'>
    Filters:
    <ul>
      <li>
        <%= link_to_unless(params[:status] == 'all',      'All Items',      food_items_path(status: :all)) %>
      </li>
      <li>
        <%= link_to_unless(params[:status] == 'eaten',    'Eaten Items',    food_items_path(status: :eaten)) %>
      </li>
      <li>
        <%= link_to_unless(params[:status] == 'expiring', 'Expiring Items', food_items_path(status: :expiring)) %>
      </li>
      <li>
        <%= link_to_unless(params[:status] == 'trashed',  'Trashed Items',  food_items_path(status: :trashed)) %>
      </li>
    </ul>
  </div>
</table>
